* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
    min-height: 100%;
}
body{
    font-size: 1.6rem;
}
#root {
    width: 100%;
    min-height: 100vh;
    background: rgba(20, 20, 20, 1);
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding : 2vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}
header h1 .logo {
    display: block;
    width: 188px;
    height: 40px;
    background: url(../src/assets/Netflix_Logo_PMS.png) no-repeat 50% 50%;
    background-size: cover;
    font-size: 0;
}

.banner {
    width: 100%;
    height:60vh;
    background-size: cover;
    background-position: 50% top;
    background-repeat: no-repeat;
    position: relative;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 70%,rgba(20, 20, 20, 1) 100%)
}

.banner-text {
    position: absolute;
    bottom:0;
    left : 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.movieLists {
    position: relative;
}

.movieLists .swiper-slide {
    width:25.4rem !important;
    padding: 2rem;
    
}

.movieLists .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movieLists .swiper {
    position: relative;
}

.contents {
    max-width:1200px;
    margin: 0 auto;

}
.prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
}
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 2;
}
.movie-lists-wrap h2{
    font-size: 3.6rem;
    color:#fff;
    margin:4rem 2rem 1rem;
}